body{
  overflow-x: hidden;
}

.navbar{
  margin-bottom: 0;
}


.panel{
  margin: 30px 0;
}

.panel-title{
  font-size: 30px;
  line-height: 25px;
}

.panel-heading{
  height: 50px;
}

.panel-heading .date{
  line-height: 25px;
}

.progress{
  height: 30px;
}
